:root {
  --bgc-footer: #282828;
}

/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul, li {
  list-style-type: none;
}

/* Generics */
body {
  font-family: 'Montserrat', sans-serif;
}

footer {
  height: 80px;
  background-color: var(--bgc-footer);
  color: #7B7E82;
  z-index: 1;
  
}

/* Utils */
.txt-ctr {
  text-align: center;
}

.txt-rgt {
  text-align: right;
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.btn {
  padding: 12px 35px;
  border: 1px solid #7B7E82;
  display: inline-block;
}

.d-flex {
  display: flex;
}

.al-ctr {
  align-items: center;
}

.m-top20 {
  margin-top: 20px;
}

.h-35p {
  height: 35px;
}

/* upper-content */
.upper-content {
  display: flex;
  height: calc(100vh - 80px);
}

.upper-content ul {
  margin-bottom: 15px;
}

/* left side-bar */
.side-bar {
  flex-basis: 230px;
  background-color: black;
  position: relative;
  overflow: auto;
}

#logo {
  height: 40px;
  margin: 20px 0;
  filter: invert(0);
}

#logo-small {
  display: none;
  height: auto;
  filter: invert(0);
}

.side-bar li {
  padding: 0 17px;
  color: #7B7E82;
}

.side-bar h2 {
  font-size: 14px;
  color: white;
}

.side-bar h3 {
  font-size: 12px;
  color: #7B7E82;
}

.side-bar img {
  height: 26px;
  margin-right: 5px;
  filter: invert(0.5);
}

li.active{
  padding-left: 14px;
  color: white;
  border-left: 3px solid #ADFF2E;
}

li.active img {
  filter: invert(0);
}

li.active h3 {
  color: white;
}

.create-playlist {
  margin-top: 8px;
}

.create-playlist h2 {
  display: inline-block;
  font-weight: 600;
  margin-left: 7px;
  color: #7B7E82;
}

.create-playlist .icon-create {
  font-size: 45px;
}

.side-bar .index-playlist {
  overflow-y: auto;
  height: 250px;
}

.index-playlist h3 {
  font-size: 13px;
  font-weight: 600;
}

.index-playlist h3:not(.no-m) {
  margin-top: 20px;
}

/* central main */
main {
  flex-basis: calc(100% - 230px);
  height: calc(100vh - 80px);
  background-color: #141922;
  overflow-Y: auto;
  padding-top:80px;
  color: #7B7E82;
}

/* Header */
header.main-header {
  position: fixed;
  height: 80px;
  top: 0;
  right: 0;
  left: 230px;
  background-color:rgba(0, 0, 0, 0.4)
}

.main-header .btn {
  color: white;
  border-radius: 25px;
  margin-top: 20px;
  font-size: 12px;
  font-weight: 600;
  margin-right: 5px;
}

/* Main nav */
.main-nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.main-nav a, .main-nav li{
  display: inline-block;
  margin: 10px 5px;
  color: currentColor;
  font-weight: 600;
  font-size: 13px;
}

/* Main content */
.main-content {
  padding: 0 20px;
}

.main-content h2 {
  color: white;
  font-weight: 600;
}

.main-content h3 {
  font-size: 16px;
  color: white;
}

.main-content .subtitle {
  font-size: 12px;
  font-weight: 600;
  margin-top: 8px;
}

/* Cards */
.deck {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
}

.card {
  flex-basis: calc(100vw /6 - 60px);
  margin:  25px 8px;
}

.cover-playlist {
  width: calc(100vw /6 - 60px) ;
  height: calc(100vw /6 - 60px);
  margin-bottom: 18px;
}

.cover-playlist img {
  object-fit: cover;
  width: 100%;
}

.cover-playlist img.circle {
  border-radius: 50%;
}

/* Foter */
footer img {
  height: 40px;
}

footer .subtitle {
  font-size: 10px;
  font-weight: 600;
}

footer h3 {
  color: white;
  font-size: 12px;
}

.row {
  display: flex;
  height: 80px;
  align-items: center;
  padding: 0 10px;
  justify-content: space-between;
}

.col-left {
 flex-basis: 20%;
}

.col-center {
 flex-basis: 50%;
}

.col-right {
 flex-basis: 20%;
}

.song {
  display: flex;
  height: 80px;
  align-items: center;
}

.info-song, .option-song i{
  margin-left: 10px;
}

.option-song {
  margin-left: 40px;
}

.settings {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: end;
}