:root {
  --bgc-footer: #282828;
}

/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul, li {
  list-style-type: none;
}

/* Generics */
body {
  font-family: 'Montserrat', sans-serif;
}

footer {
  height: 80px;
  background-color: var(--bgc-footer)
}

/* Utils */
.txt-ctr {
  text-align: center;
}

.txt-rgt {
  text-align: right;
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.btn {
  padding: 12px 35px;
  border: 1px solid #7B7E82;
  display: inline-block;
}

/* upper-content */
.upper-content {
  display: flex;
  height: calc(100vh - 80px);
}

.upper-content ul {
  margin-bottom: 15px;
}

/* left side-bar */
.side-bar {
  flex-basis: 230px;
  background-color: black;
  padding-left: 3px;
}

#logo {
  height: 40px;
  margin: 20px 0;
}

#logo-small {
  display: none;
}

.side-bar li {
  margin-left: 17px;
  color: #7B7E82;
}

/* central main */
main {
  flex-basis: calc(100% - 230px);
  height: calc(100vh - 80px);
  background-color: #141922;
  overflow-Y: auto;
  padding-top:80px;
  color: #7B7E82;
}

/* Header */
header.main-header {
  position: fixed;
  height: 80px;
  top: 0;
  right: 0;
  left: 230px;
  background-color:rgba(0, 0, 0, 0.4)
}

.main-header .btn {
  color: white;
  border-radius: 25px;
  margin-top: 20px;
  font-size: 12px;
  font-weight: 600;
  margin-right: 5px;
}

/* Main nav */
.main-nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.main-nav a, .main-nav li{
  display: inline-block;
  margin: 10px 5px;
  color: currentColor;
  font-weight: 600;
  font-size: 13px;
}

/* Main content */
.main-content {
  padding: 0 20px;
}

.main-content h2 {
  color: white;
  font-weight: 600;
}

.main-content h3 {
  font-size: 16px;
  color: white;
}

.main-content .subtitle {
  font-size: 12px;
  font-weight: 600;
  margin-top: 8px;
}

/* Cards */
.deck {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
}

.card {
  flex-basis: calc(100vw /6 - 60px);
  margin:  25px 8px;
}

.cover-playlist {
  width: calc(100vw /6 - 60px) ;
  height: calc(100vw /6 - 60px);
  margin-bottom: 18px;
}

.info-playlist {
  width: calc(100vw /6 - 60px);
}

.cover-playlist img {
  object-fit: cover;
  width: 100%;
}

.cover-playlist img.circle {
  border-radius: 50%;
}