:root {
  --bgc-footer: #282828;
}

/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul, li {
  list-style-type: none;
}

/* Generics */
body {
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  height: calc(100vh - 80px);
}

footer {
  height: 80px;
  background-color: var(--bgc-footer)
}

/* Utils */
.txt-ctr {
  text-align: center;
}

/* Main */
main ul {
  margin-bottom: 15px;
}

/* Section side-bar */
#side-bar {
  flex-basis: 230px;
  background-color: black;
  padding-left: 3px;
}

#logo {
  height: 40px;
  margin: 20px 0;
}

#logo-small {
  display: none;
}

#side-bar li {
  margin-left: 17px;
  color: #7B7E82;
}

/* Section Main */
#main {
  flex-basis: calc(100% - 230px);
  height: calc(100vh - 80px);
  background-color: #141922;
  overflow: scroll;
  padding-top:80px;
  color: #7B7E82;
}
header.main-header {
  position: fixed;
  height: 80px;
  top: 0;
  right: 0;
  left: 230px;
  background-color:rgba(0, 0, 0, 0.4)
}

/* Main nav */
.main-nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.main-nav a, .main-nav li{
  display: inline-block;
  margin: 10px 5px;
  color: currentColor;
  font-weight: 600;
  font-size: 13px;
}